Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

SDIT-3054: ⬆️ Upgrade to spring boot 3.5.6 & hmpps plugin 9.0.2 (#640)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-3057: 🔒️ Upgrade to hmpps plugin 9.1.1 to fix owasp builds
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3057: 🔒️ Upgrade to hmpps plugin 9.1.1 to fix owasp builds (#641)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3059: ✨ Add cancel outdated workflows job
  .github/workflows/cancel_outdated_workflows.yml
Due: none

SDIT-3059: ✨ Add cancel outdated workflows job (#642)
  .github/workflows/cancel_outdated_workflows.yml
Due: none

SDIT-3059: ✨ Add in separate cancels for search and indexer
  .github/workflows/cancel_outdated_workflows.yml
Due: none

SDIT-3059: ✨ Add in separate cancels for search and indexer (#643)
  .github/workflows/cancel_outdated_workflows.yml
Due: none

SDIT-3065 Add a TODO for fix required to readmission switch booking receive reason
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
Due: build-indexer

SDIT-3065 Add a TODO for fix required to readmission switch booking receive reason (#644)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
Due: build-indexer

SDIT-3049 Add military flag and previous prison to prisoner-search
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-3059: Disable cancel outdated as was cancelling all jobs
  .github/workflows/cancel_outdated_workflows.yml
Due: none

SDIT-3059: Disable cancel outdated as was cancelling all jobs (#646)
  .github/workflows/cancel_outdated_workflows.yml
Due: none

SDIT-3049 Add military flag and previous prison to prisoner-search (#645)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-3046 Try exponential backoff retries
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: build-indexer

SDIT-3046 Try exponential backoff retries (#647)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: build-indexer

SDIT-3046 Suspend retry all dlqs cronjob
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/retry-dlqs-cronjob.yaml
Due: build-indexer

SDIT-3046 Suspend retry all dlqs cronjob (#648)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/retry-dlqs-cronjob.yaml
Due: build-indexer

SDIT-2804 Switch to cronjob template
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/check-indexing-complete.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/compare-index-size-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/full-index-refresh-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/remove-old-differences-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManager.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/EventListenerSuppressor.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/EventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResource.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManagerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
Due: build-indexer

SDIT-2804 Switch to cronjob template (#649)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/check-indexing-complete.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/compare-index-size-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/full-index-refresh-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/remove-old-differences-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManager.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/EventListenerSuppressor.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/EventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResource.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManagerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
Due: build-indexer

SDIT-3080: 🔒️ Upgrade to hmpps plugin 9.1.2 for logback vuln
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3080: 🔒️ Upgrade to hmpps plugin 9.1.2 for logback vuln (#650)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2804 Fix package name
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManager.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManagerTest.kt
Due: build-indexer

SDIT-2804 Fix package name (#651)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManager.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManagerTest.kt
Due: build-indexer

SDIT-2804 Ignore expected errors for some batch jobs
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManager.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManagerTest.kt
Due: build-indexer

SDIT-2804 Ignore expected errors for some batch jobs (#652)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManager.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/batch/BatchManagerTest.kt
Due: build-indexer

SDIT-2804 Remove unused endpoint protection, update some docs
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: build-indexer, build-search

SDIT-2804 Remove unused endpoint protection, update some docs (#653)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: build-indexer, build-search

SDIT-2804 Latest helm chart fixes cronjob timezone
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
Due: build-indexer

SDIT-2804 Latest helm chart fixes cronjob timezone (#654)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
Due: build-indexer

SDIT-2804 Use floating patch version of helm chart
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
Due: build-indexer

SDIT-2804 Use floating patch version of helm chart (#655)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
Due: build-indexer

Update api docs for writeAlertsJson to 2025-10-07.5168.c1191a8
  hmpps-prisoner-search-indexer/openapi-specs/alerts-api-docs.json
Due: build-indexer

SDIT-3046 Use the latest version of the SQS lib
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-3089: 👽️ Fix after api docs updated
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-3072: ✨ Upgrade to java 25
  .github/workflows/check_api_docs.yml
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/security_owasp.yml
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  .java-version
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3072: ✨ Upgrade to java 25 (#658)
  .github/workflows/check_api_docs.yml
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/security_owasp.yml
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  .java-version
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3111: 🔒️ Upgrade to hmpps plugin 9.1.3 for owasp fix
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3111: 🔒️ Upgrade to hmpps plugin 9.1.3 for owasp fix (#659)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3049 Add military flag and previous prison to prisoner-search
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: build-common, build-indexer, build-search

SDIT-3049 Add military flag and previous prison to prisoner-search (#660)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: build-common, build-indexer, build-search

Path conditions:
  build-common: any of: (common/.*|build.gradle.kts|.circleci/.*)
  build-indexer: any of: (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*)
  build-search: any of: (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*)
