Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

Update api docs for writeIncentivesJson to 2026-08-03.454.fdf1333
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

Latest incentives API
  hmpps-prisoner-search-indexer/openapi-generator-ignore-incentives
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

Latest incentives API (#812)
  hmpps-prisoner-search-indexer/openapi-generator-ignore-incentives
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

MAPA-317 Add mainOffence to the prisoner record
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/MainOffence.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/MainOffence.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

MAPA-317 Add mainOffence to the prisoner record (#813)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/MainOffence.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/MainOffence.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-4176 Upgrades
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4176 Upgrades (#814)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4185: ⬆️ Upgrades for tomcat pinning
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: build-common, build-indexer, build-search

SDIT-4185: ⬆️ Upgrades for tomcat pinning (#815)
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: build-common, build-indexer, build-search

SDIT-4190 prisoner-search should listen for changes to OFFENDER_SENTENCE_TERMS
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-4190 prisoner-search should listen for changes to OFFENDER_SENTENCE_TERMS (#816)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-4192 prisoner-search should listen for updates to offender_beliefs
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/AlertsServiceTest.kt
Due: build-indexer

SDIT-4192 prisoner-search should listen for updates to offender_beliefs (#817)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/AlertsServiceTest.kt
Due: build-indexer

SDIT-4193 Add previousPrisonId to prisoner-search all-prisoner-locations endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerLocationService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResourceTest.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EZ.json
Due: build-search

SDIT-4193 Add previousPrisonId to prisoner-search all-prisoner-locations endpoint (#818)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerLocationService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResourceTest.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EZ.json
Due: build-search

SDIT-4194: ⬆️ Spring doc and other upgrades
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
Due: build-common, build-indexer, build-search

SDIT-4194: ⬆️ Spring doc and other upgrades (#819)
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
Due: build-common, build-indexer, build-search

Update api docs for writeRestrictedPatientsJson to 2026-09-04.313.3e8928a
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-4203: ⬆️ Spring doc and other upgrades
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-common, build-indexer, build-search

SDIT-4203: ⬆️ Spring doc and other upgrades (#821)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-common, build-indexer, build-search

Update api docs for writeNomisPrisonerJson to 2026-09-14.2052.2ddf60b
  hmpps-prisoner-search-indexer/openapi-specs/nomis-prisoner-api-docs.json
Due: build-indexer

SDIT-4221: ✨ Use new common IdRanges class
  hmpps-prisoner-search-indexer/openapi-generator-ignore-nomis-prisoner
  hmpps-prisoner-search-indexer/openapi-specs/nomis-prisoner-api-docs.json
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisPrisonerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/NomisApiMockServer.kt
Due: build-indexer

SDIT-4221: ✨ Use new common IdRanges class (#823)
  hmpps-prisoner-search-indexer/openapi-generator-ignore-nomis-prisoner
  hmpps-prisoner-search-indexer/openapi-specs/nomis-prisoner-api-docs.json
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisPrisonerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/NomisApiMockServer.kt
Due: build-indexer

SDIT-4233: ⬆️ Upgrade for jackson, netty, kotlin 2.4.20 etc.
  .github/workflows/check_api_docs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4233: ⬆️ Upgrade for jackson, netty, kotlin 2.4.20 etc. (#824)
  .github/workflows/check_api_docs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4246: 🔒️ Pin and suppress snyk issues
  .snyk
  common/.snyk
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.snyk
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4246: 🔒️ Pin and suppress snyk issues (#825)
  .snyk
  common/.snyk
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.snyk
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4246: 🔒️ Second attempt to suppress snyk issues
  .snyk
Due: none

SDIT-4246: 🔒️ Second attempt to suppress snyk issues (#826)
  .snyk
Due: none

SDIT-4262: ⬆️ Upgrade plugin for jackson vuln etc.
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4262: ⬆️ Upgrade plugin for jackson vuln etc. (#827)
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4293 Update elasticsearch and gradle plugin to handle CVEs
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4293 Update elasticsearch and gradle plugin to handle CVEs (#828)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4190 prisoner-search should listen for changes to OFFENDER_SENTENCE_CHARGES
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-4190 prisoner-search should listen for changes to OFFENDER_SENTENCE_CHARGES (#829)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

Allow Serco's PECS dev service access to dev
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
Due: build-search

SDIT-4328: ⬆️ Upgrade plugin for tomcat vuln
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4328: ⬆️ Upgrade plugin for tomcat vuln (#831)
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

Path conditions:
  build-common: any of: (common/.*|build.gradle.kts|.circleci/.*)
  build-indexer: any of: (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*)
  build-search: any of: (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*)
