Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@8

parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-1698 Add all identifiers for the offender including aliases
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Identifier.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Alias.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderIdentifier.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/OffenderBookingTest.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/OffenderBookingBuilder.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
Due: build-common, build-indexer, build-search

Update common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
Due: build-common, build-indexer, build-search

SDIT-1698 Add alias identifiers to Prisoner record (#361)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Identifier.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Alias.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderIdentifier.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/OffenderBookingTest.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/OffenderBookingBuilder.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
Due: build-common, build-indexer, build-search

SDIT-1758: 🔧 Move to new prod prison api in cloud platform
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: build-indexer, build-search

SDIT-1758: 🔧 Move to new prod prison api in cloud platform (#362)
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: build-indexer, build-search

SDIT-1698 Add PNC matcher
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/AttributeSearchRequest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Matcher.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/PncMatcher.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Query.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/TypeMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/requestdsl/PncMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/requestdsl/Query.kt
Due: build-common, build-indexer, build-search

SDIT-1698 Add PNC matcher (#364)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/AttributeSearchRequest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Matcher.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/PncMatcher.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Query.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/TypeMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/requestdsl/PncMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/requestdsl/Query.kt
Due: build-common, build-indexer, build-search

SDIT-1698 Refactor
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/Attribute.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Attribute.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Matcher.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Query.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/TypeMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResourceTest.kt
Due: build-search

SDIT-1698 Refactor (#365)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/Attribute.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Attribute.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Matcher.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Query.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/TypeMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResourceTest.kt
Due: build-search

SDIT-1721 Add all convicted offences
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Offence.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenceHistoryDetail.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/Attribute.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1721 Add all convicted offences (#366)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Offence.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenceHistoryDetail.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/Attribute.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1754: ✨ Listen to location event changes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerLocationService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: build-indexer

SDIT-1754: ✨ Listen to location event changes (#368)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerLocationService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: build-indexer

SDIT-1788: ⬆️ Upgrade to latest spring boot etc.
  .circleci/config.yml
  .circleci/continue_config.yml
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-1788: ⬆️ Upgrade to latest kotlin lib and use postgres flyway
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-1788: 🔧 Add in postgres flyway dependency
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-1788: ⬆️ Upgrade to latest spring boot etc. (#367)
  .circleci/config.yml
  .circleci/continue_config.yml
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-1754: ✨ Implement search of location event changes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerLocationService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/SearchClient.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
Due: build-indexer

SDIT-1754: ✨ Implement search of location event changes (#369)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerLocationService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/SearchClient.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
Due: build-indexer

SDIT-1754: 🎨 Move SearchClient to common
  common/build.gradle.kts
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/services/SearchClient.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/services/SearchClientTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerLocationService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/SearchClient.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/GlobalSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/KeywordService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/MatchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PhysicalDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonersInPrisonService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-1754: 🎨 Move SearchClient to common (#370)
  common/build.gradle.kts
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/services/SearchClient.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/services/SearchClientTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerLocationService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/SearchClient.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/GlobalSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/KeywordService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/MatchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PhysicalDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonersInPrisonService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-1561 Fix telemetry for queries with IN
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/StringMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
Due: build-search

SDIT-1561 Fix telemetry for queries with IN (#371)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/StringMatcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
Due: build-search

SDIT-1792: 📝 Fix badges
  README.md
  hmpps-prisoner-search-indexer/README.md
Due: build-indexer

SDIT-1792: 📝 Fix badges (#372)
  README.md
  hmpps-prisoner-search-indexer/README.md
Due: build-indexer

SDIT-1809: 🐛 Cope with missing old description for new locations
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: build-indexer

SDIT-1809: 🐛 Cope with missing old description for new locations (#373)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: build-indexer

SDIT-1815 Handle new offender events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-1815 Handle new offender events (#374)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-1771: ✨ Switch to new prum groups
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: build-search

SDIT-1771: ✨ Switch to new prum groups (#375)
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: build-search

SDIT-1844: 🗃️ Upgrade to latest for certificate upgrade
  hmpps-prisoner-search-indexer/Dockerfile
Due: build-indexer

SDIT-1844: 🗃️ Upgrade to latest for certificate upgrade (#376)
  hmpps-prisoner-search-indexer/Dockerfile
Due: build-indexer

SDIT-1844: 🗃️ Improve retrieving certificate
  hmpps-prisoner-search-indexer/Dockerfile
Due: build-indexer

SDIT-1844: 🗃️ Improve retrieving certificate (#377)
  hmpps-prisoner-search-indexer/Dockerfile
Due: build-indexer

SDIT-1861 READMISSION_SWITCH_BOOKING for correcting new booking mistakes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/swagger-description.html
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-1861 READMISSION_SWITCH_BOOKING for correcting new booking mistakes (#378)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/swagger-description.html
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-1862: ⬆️ Upgrade to latest spring boot
  .gitignore
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-1862: ⬆️ Upgrade to latest spring boot (#379)
  .gitignore
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search
