Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@7

parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          mapping: |
            (model/.*|hmpps-prisoner-search/.*) workflow-directory "hmpps-prisoner-search"
            (model/.*|hmpps-prisoner-search-indexer.*) workflow-directory "hmpps-prisoner-search-indexer"

SDIT-1142: ✨ Generate slack alert on failure
  .github/workflows/security_owasp.yml
Due: none

SDIT-1142: ✨ Generate slack alert on failure (#181)
  .github/workflows/security_owasp.yml
Due: none

SDIT-1129: 🐛 Remove health check as unnecessary (only calls auth once for jwts
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/WebClientConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthCheck.kt
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1129: 🐛 Remove health check as unnecessary (only calls auth once for jwts (#182)
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/WebClientConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthCheck.kt
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1129: 🎨 use builder extension function instead
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/WebClientConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1129: 🎨 use builder extension function instead (#183)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/WebClientConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1196: 📝 Change to point to new prisoner search repo
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1196: 📝 Change to point to new prisoner search repo (#185)
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1196: ⬆️ Upgrade to java 21
  .circleci/continue_config.yml
  .github/workflows/security_owasp.yml
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1196: ⬆️ Upgrade to java 21 (#184)
  .circleci/continue_config.yml
  .github/workflows/security_owasp.yml
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1207: 👽️ Switch to new incentives endpoint
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/IncentivesApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/PrisonApiMockServer.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1207: 👽️ Switch to new incentives endpoint (#186)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/IncentivesApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/PrisonApiMockServer.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1210: 📝 Add in transfer option to in out status
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: none

SDIT-1210: 📝 Add in transfer option to in out status (#187)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: none

SDIT-1027: 📝 Improve openapi config and test
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/OpenApiConfiguration.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1027: 📝 Improve openapi config and test (#188)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/OpenApiConfiguration.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1220: 🔧 Reduce preprod refresh frequency
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/SearchClient.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1220: 🔧 Reduce preprod refresh frequency (#189)
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/SearchClient.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

Updating generic service version to 2.8
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

Updating generic service version to 2.8
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search"

This PR migrates the project to use groups of IPs in their allowlist.
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

This PR migrates the project to use groups of IPs in their allowlist.
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: workflow-directory="hmpps-prisoner-search"

This PR migrates the project to use groups of IPs in their allowlist.
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search"

This PR migrates the project to use groups of IPs in their allowlist.
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search"

Update values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search"

Update values-prod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search"

Migrating project to use groups in allowlist (#190)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1248: 🔨 Fix pushing JIRA deployment information
  .circleci/config.yml
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1248: 🔨 Fix pushing JIRA deployment information (#191)
  .circleci/config.yml
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1255: ⬆️ Upgrade for reactor netty http vulnerability
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1255: ⬆️ Upgrade for reactor netty http vulnerability (#192)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1260: 🐛 Bump timeout for getting all prisoner ids
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisService.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1260: 🐛 Bump timeout for getting all prisoner ids (#193)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisService.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

RP2-840 Add releaseOnTemporaryLicenceDate to Prisoner
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/translator.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BF.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RC.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_2.json
  hmpps-prisoner-search/src/test/resources/results/restrictedPatientsSearch/search_results_all.json
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

RP2-840 Add releaseOnTemporaryLicenceDate to Prisoner (#194)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/translator.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BF.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RC.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_2.json
  hmpps-prisoner-search/src/test/resources/results/restrictedPatientsSearch/search_results_all.json
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1262: 🔨 Add in configuration for getting prisoner search up and running locally
  docker-compose.yml
Due: none

SDIT-1262: ⬆️ Upgrade dependencies
  docker-compose.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1262: 🔨 Add in configuration for getting prisoner search up and running locally (#195)
  docker-compose.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1262: 🐛 Try wiring elasticsearchOperations instead
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/health/OpenSearchHealthIndicator.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenSearchConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/OpenSearchHealthIndicator.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1262: 🐛 Also remove opensearch client bean
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenSearchConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search"
