Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@8

parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-2060: ✨ Use no tracing for individual prisoner messages (#427)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
Due: build-indexer

SDIT-2060: 🔥 Remove WithSpan as causing double request events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2060: 🔥 Remove WithSpan as causing double request events (#428)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2060: 🔥 Remove property as defaults to true anyway
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: build-indexer

SDIT-2060: 🔥 Remove property as defaults to true anyway (#429)
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: build-indexer

SDIT-2096 Add red index info to refresh index job
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/CompareIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferencesService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/main/resources/db/migration/V1_2__prisoner_differences_add_column.sql
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: build-indexer

SDIT-2096 Add red index info to refresh index job
  hmpps-prisoner-search-indexer/src/main/resources/db/migration/V1_2__prisoner_differences_add_column.sql
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: build-indexer

SDIT-2096 Add red index info to refresh index job (#430)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/CompareIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferencesService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/main/resources/db/migration/V1_2__prisoner_differences_add_column.sql
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: build-indexer

MIC-615 add person reference to domain events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: build-indexer

update model to remove get property as unused in this project
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
Due: build-indexer

MIC-615 add person reference to domain events (#431)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: build-indexer

SDIT-2050: 👷 Latest actions and ensure jobs run before 7am
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2050: 👷 Latest actions and ensure jobs run before 7am (#432)
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2050: 👷 Re-apply multi module action configuration after copy from template
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2050: 👷 Re-apply multi module action configuration after copy from template (#433)
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2107: ⬆️ Upgrade to latest versions and suppress non issues
  common/build.gradle.kts
  dependency-check-suppress-json.xml
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-2107: ⬆️ Upgrade to latest versions and suppress non issues (#434)
  common/build.gradle.kts
  dependency-check-suppress-json.xml
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-1841: 📝 Use async api to document events instead
  hmpps-prisoner-search-indexer/README.md
  hmpps-prisoner-search-indexer/async-api.yml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/resources/swagger-description.html
Due: build-indexer

SDIT-1841: 📝 Use async api to document events instead (#435)
  hmpps-prisoner-search-indexer/README.md
  hmpps-prisoner-search-indexer/async-api.yml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/resources/swagger-description.html
Due: build-indexer

SDIT-1841: 📝 Add in read only parameter to provide better view of docs
  hmpps-prisoner-search-indexer/README.md
Due: build-indexer

SDIT-1841: 📝 Add in read only parameter to provide better view of docs (#436)
  hmpps-prisoner-search-indexer/README.md
Due: build-indexer

SDIT-2140 Update domains when booking id changes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-2102 Add RED index to the refresh from prod
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/restore.sh
Due: build-indexer

SDIT-2140 Update domains when booking id changes (#437)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-2102 Add RED index to the refresh from prod (#438)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/restore.sh
Due: build-indexer

SDIT-2141: ⬆️ Upgrade to hmpps spring boot 6.0.7 for path directory traversal suppression
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2141: ⬆️ Upgrade to hmpps spring boot 6.0.7 for path directory traversal suppression (#439)
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2123: 🔊 Reduce dependency sampling to 5% and change logging to info level
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: build-indexer, build-search

SDIT-2123: 🔊 Reduce dependency sampling to 5% and change logging to info level (#440)
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: build-indexer, build-search

SDIT-2141: ⬆️ Upgrade to hmpps spring boot 6.0.8 for path directory traversal suppression
  build.gradle.kts
  common/.trivyignore
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2141: ⬆️ Upgrade to hmpps spring boot 6.0.8 for path directory traversal suppression (#441)
  build.gradle.kts
  common/.trivyignore
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2123: 🔊 Try out reducing metric sampling
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: build-indexer, build-search

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: build-indexer

SDIT-2123: 🔊 Try out reducing metric sampling (#442)
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: build-indexer, build-search

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueServiceTest.kt
Due: build-indexer

SDIT-2145: ⬆️ Use sqs lib 5.1.0 for better exception recording
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer
