Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

SDIT-2425: ✨ Add in first and last names to all prisoner locations
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerLocationService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResourceTest.kt
Due: build-search

SDIT-2425: ✨ Add in first and last names to all prisoner locations (#472)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerLocationService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AllPrisonerLocationResourceTest.kt
Due: build-search

SDIT-2406 Receive reason is not merge if the admission happened after the merge
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2406 Add comment
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
Due: build-indexer

SDIT-2406 Receive reason is not merge if the admission happened after the merge (#473)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2489 Manual reindex of prisoner does not update red index
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
Due: build-indexer

SDIT-2489 Manual reindex of prisoner does not update red index
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
Due: build-indexer

SDIT-2489-Manual-reindex-of-prisoner-does-not-update-red-index (#474)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
Due: build-indexer

SDIT-2182 Create duplicate logging from the red index updates - handle delete
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/CurrentIncentive.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2182 Create duplicate logging from the red index updates - handle delete (#475)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/CurrentIncentive.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2488 Upgrade to Spring Boot 3.4.2
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2426: 🗃️ Upgrade spring boot to Postgres 17
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
Due: build-common, build-indexer, build-search

SDIT-2426: 🗃️ Upgrade db to Postgres 17 (#477)
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
Due: build-common, build-indexer, build-search

SDIT-2561: ⬆️ Upgrade spring boot to 3.4.2
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2561: ⬆️ Upgrade spring boot to 3.4.2 (#478)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2561: ⬆️ Upgrade hmpps spring boot plugin to 7.7.1
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2561: ⬆️ Upgrade hmpps spring boot plugin to 7.7.1 (#479)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2564 Add convictedStatus to prisoner
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/first-moved-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/first-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/recalled.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/released-to-hospital.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/released.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/second-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-out.json
  hmpps-prisoner-search-indexer/src/test/resources/templates/booking.json
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/KeywordSearchResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByPrisonerNumbersResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EY.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EZ.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BA.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_conditional_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_confirmed_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_filtered_by_prison.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/search_results_mdi.json
  hmpps-prisoner-search/src/test/resources/templates/booking.json
Due: build-common, build-indexer, build-search

SDIT-2426 Fix tests
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/search_results_mdi.json
Due: build-search

SDIT-2561: ⬆️ Upgrade hmpps spring boot plugin to 7.7.2
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2564 Ensure correct convictedStatus value set
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
Due: build-indexer

SDIT-2561: ⬆️ Upgrade hmpps spring boot plugin to 7.7.2 (#481)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2564 Add convictedStatus to prisoner (#480)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/first-moved-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/first-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/recalled.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/released-to-hospital.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/released.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/second-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-out.json
  hmpps-prisoner-search-indexer/src/test/resources/templates/booking.json
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/KeywordSearchResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByPrisonerNumbersResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EY.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EZ.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BA.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_conditional_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_confirmed_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_filtered_by_prison.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/search_results_mdi.json
  hmpps-prisoner-search/src/test/resources/templates/booking.json
Due: build-common, build-indexer, build-search

SDIT-2564 Add convicted status changed event
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/ConvictedStatusEventService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/ConvictedStatusChangedEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
Due: build-indexer

SDIT-2564 Add convicted status changed event (#482)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/ConvictedStatusEventService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/ConvictedStatusChangedEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
Due: build-indexer

SDIT-2564 Add documentation for convicted status changed event
  hmpps-prisoner-search-indexer/async-api.yml
Due: build-indexer

SDIT-2593 Try out latest kotlin lib
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2593 Try out latest kotlin lib (#484)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2564 Add documentation for convicted status changed event (#483)
  hmpps-prisoner-search-indexer/async-api.yml
Due: build-indexer

SDIT-2604 Updated event generated on red index when nothing has changed
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
Due: build-indexer

SDIT-2604 Updated event generated on red index when nothing has changed
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
Due: build-indexer

SDIT-2604 Updated event generated on red index when nothing has changed (#485)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
Due: build-indexer

SDIT-2593 Upgrade to full verion of kotlin lib
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2593 Upgrade to full version of kotlin lib (#486)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-1954 Switch search queries to use the RED index
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/services/SearchClient.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/services/SearchClientTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/GlobalSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/KeywordService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/MatchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PhysicalDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerLocationService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonersInPrisonService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
Due: build-common, build-indexer, build-search

SDIT-1954 Switch search queries to use the RED index
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: build-search

Path conditions:
  build-common: any of: (common/.*|build.gradle.kts|.circleci/.*)
  build-indexer: any of: (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*)
  build-search: any of: (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*)
