Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

SDIT-2737 Try test reporter -3
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Try test reporter -4
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Add test reporter
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Standardise name
  .github/workflows/gradle_localstack_postgres_verify.yml
Due: none

Update .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_postgres_verify.yml
Due: none

Update .github/workflows/gradle_localstack_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Match path for workflow files
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Add test reporter (#566)
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2879 Upgrade to Spring Boot 3.5.3
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2737 Test reporter test
  README.md
Due: none

SDIT-2737 test report 2
  .github/workflows/pipeline-search.yml
  README.md
Due: none

SDIT-2737 test report 3
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Ensure common tests picked up correctly
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Set artifact
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Ensure common tests picked up correctly (#568)
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2879 Upgrade to Spring Boot 3.5.3 (#567)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2883 Make Prisoner Merge History Available
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-2883 Make Prisoner Merge History Available
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-2883 Make Prisoner Merge History Available (#569)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-2737 Ensure release name specific to indexer or search
  .github/actions/slack_release_results/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Ensure release name specific to indexer or search (#570)
  .github/actions/slack_release_results/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

CVSL-3030: Update the search by release date endpoint to consider prisoner's with a post recall release date as well as the existing dates.
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_2.json
Due: build-search

CVSL-3030: Update the search by release date endpoint to consider prisoner's with a post recall release date as well as the existing dates. (#571)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_2.json
Due: build-search

SDIT-2737 Correct k8s_deployment_name field name
  .github/actions/slack_release_results/action.yml
Due: none

SDIT-2737 Correct k8s_deployment_name field name (#572)
  .github/actions/slack_release_results/action.yml
Due: none

SDIT-2737 Revert setting deployment name as now moved to common workflow
  .github/actions/slack_release_results/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Revert setting deployment name as now moved to common workflow (#573)
  .github/actions/slack_release_results/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2935: ⬆️ Upgrade plugin, kotlin etc.
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  common/gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/gradle.properties
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/gradle.properties
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-2935: ⬆️ Upgrade plugin, kotlin etc. (#574)
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  common/gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/gradle.properties
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/gradle.properties
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-2941 Receive event not occurring after booking.moved
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
Due: build-indexer

SDIT-2941 Receive event not occurring after booking.moved (#575)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
Due: build-indexer

SDIT-2671: ♻️ Stop search from referencing nomis model
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByBookingIdsResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-2942 Upgrade to HMPPS gradle plugin 8.4.2
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2942 Upgrade to HMPPS gradle plugin 8.4.2 (#577)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2934 Detect a move booking event better for receive events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-2934 Detect a move booking event better for receive events (#578)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-2942 Upgrade plugin and libraries to latest
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2942 Upgrade plugin and libraries to latest (#579)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

Path conditions:
  build-common: any of: (common/.*|build.gradle.kts|.circleci/.*)
  build-indexer: any of: (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*)
  build-search: any of: (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*)
