Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@8

parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-2077 Unnecessary exception logging noise needs removing (#443)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueServiceTest.kt
Due: build-indexer

SDIT-2145: 🔊 Sample concurrent exception at 10%
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
Due: build-indexer

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: build-indexer

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2077 Unnecessary exception logging noise needs removing
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
Due: build-indexer

SDIT-2145: ⬆️ Use sqs lib 5.1.0 for better exception recording (#444)
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-2050: 👷 Use v1 actions
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2050: 👷 Use v1 actions (#446)
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2077 Unnecessary exception logging noise needs removing - part 2 (#445)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2176 Move restricted patients to domain partial update
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/RestrictedPatientApiMockServer.kt
Due: build-common, build-indexer, build-search

SDIT-2176 Move restricted patients to domain partial update
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-2176 Move restricted patients to domain partial update
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/RestrictedPatientApiMockServer.kt
Due: build-indexer

SDIT-2176 Move restricted patients to domain partial update
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
Due: build-common, build-indexer, build-search

SDIT-2102 Add RED index to the refresh from prod - fix
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/restore.sh
Due: build-indexer

SDIT-2102 Add RED index to the refresh from prod - fix (#448)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/restore.sh
Due: build-indexer

SDIT-2176 Move restricted patients to domain partial update
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2176 Move restricted patients to domain partial update
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-2176 Move restricted patients to domain partial update (#447)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/RestrictedPatientApiMockServer.kt
Due: build-common, build-indexer, build-search

SDIT-2176 Move restricted patients to domain partial update
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
Due: build-common, build-indexer, build-search

SDIT-2176 Move restricted patients to domain partial update (#449)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
Due: build-common, build-indexer, build-search

SDIT-2182 Create duplicate logging from the red index updates
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/AlertsUpdatedEventService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2182 Create duplicate logging from the red index updates
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/remove-old-differences-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferencesService.kt
Due: build-indexer

SDIT-2253 Error deleting old prisoner search diffs data
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-2253 Error deleting old prisoner search diffs data (#451)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/remove-old-differences-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferencesService.kt
Due: build-indexer

SDIT-2253 Error deleting old prisoner search diffs data
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepository.kt
Due: build-indexer

SDIT-2253 Error deleting old prisoner search diffs data (#452)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepository.kt
Due: build-indexer

SDIT-2182 Create duplicate logging from the red index updates
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-2265: ⬆️ Upgrade spring boot plugin for netty upgrade
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-2265: ⬆️ Upgrade spring boot plugin for netty upgrade (#454)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

Sdit 2182 create duplicate logging from the red index updates (#453)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/AlertsUpdatedEventService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-2258: ✨ Add new prisoner removed event
  hmpps-prisoner-search-indexer/async-api.yml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
Due: build-indexer

SDIT-2258: ✨ Sort out import ordering
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-2258: ✨ Add new prisoner removed event (#455)
  hmpps-prisoner-search-indexer/async-api.yml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
Due: build-indexer

SDIT-: ♻️ Move prisoner removed event to listener service
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-: ♻️ Move prisoner removed event to listener service (#456)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer
