Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@7

parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          mapping: |
            (model/.*|hmpps-prisoner-search/.*) workflow-directory "hmpps-prisoner-search"
            (model/.*|hmpps-prisoner-search-indexer.*) workflow-directory "hmpps-prisoner-search-indexer"

SDIT-1062: ✨ Add in new refresh of prisoners
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/OffenderBookingBuilder.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: ✨ Add in new refresh of prisoners (#125)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/PopulateIndexListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/OffenderBookingBuilder.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: 🔧 Fix schedules in dev to avoid scheduled downtime
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/full-index-refresh-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/remove-old-differences-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: 🔧 Fix schedules in dev to avoid scheduled downtime (#126)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/full-index-refresh-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/remove-old-differences-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-406: ✨ Create current index when rebuilding
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-406: ✨ Create current index when rebuilding (#127)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: ♻️ Don't save if no index changes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: ♻️ Separate out refresh and populate methods
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PopulateIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PopulateIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: ♻️ Don't save if no index changes (#128)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RefreshIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1098: 🔧 Use project environment variables for dev
  .circleci/continue_config.yml
Due: none

SDIT-1098: 🔧 Use project environment variables for dev (#130)
  .circleci/continue_config.yml
Due: none

SDIT-1099: ✨ Add in product id to /info endpoint
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/health/ProductIdInfoContributor.kt
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/ProductIdInfoContributor.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1099: ✨ Add in product id to /info endpoint (#131)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/health/ProductIdInfoContributor.kt
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/ProductIdInfoContributor.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1062: ♻️ Separate out refresh and populate methods (#129)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PopulateIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexQueueServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PopulateIndexServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Start copying publish code over
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/AlertsUpdatedEventService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/AlertsUpdatedEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/first-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/new-prisoner.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/recalled.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/released.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/second-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-out.json
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Start copying publish code over (#132)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/AlertsUpdatedEventService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/AlertsUpdatedEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/court-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/first-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/new-prisoner.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/recalled.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/released.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/second-new-booking.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-different-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/tap-out.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in-same-prison.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-in.json
  hmpps-prisoner-search-indexer/src/test/resources/receive-state-changes/transfer-out.json
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1064: ✨ Add in listening to offender charges event
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1064: ✨ Add in listening to offender charges event (#134)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Add in publishing of domain events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/HmppsPrisonerSearchIndexer.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/DiffProperties.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/PrisonApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
  hmpps-prisoner-search-indexer/src/test/resources/messages/assessmentUpdated.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/identifiersChanged.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/iepNextReviewDateUpdated.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/iepUpdated.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderAlertsChanged.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDelete.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDetailsChanged.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDetailsChangedForRP.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDetailsNew.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderMerge.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderUpdatedNoIdDisplay.json
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Cope with messages being received in any order
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Add in publishing of domain events (#133)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/HmppsPrisonerSearchIndexer.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/DiffProperties.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/PrisonApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
  hmpps-prisoner-search-indexer/src/test/resources/messages/assessmentUpdated.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/identifiersChanged.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/iepNextReviewDateUpdated.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/iepUpdated.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderAlertsChanged.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDelete.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDetailsChanged.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDetailsChangedForRP.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderDetailsNew.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderMerge.json
  hmpps-prisoner-search-indexer/src/test/resources/messages/offenderUpdatedNoIdDisplay.json
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1100: ✨ Copy across domain events resource
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/HmppsPrisonerSearchIndexerExceptionHandler.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/DomainEventsResource.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/DomainEventsResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResourceIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1100: ✨ Copy across domain events resource (#135)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/HmppsPrisonerSearchIndexerExceptionHandler.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/DomainEventsResource.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/DomainEventsResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResourceIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Turn on publishing of events
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-410: ✨ Turn on publishing of events (#136)
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-991: 🔧 Temporarily switch to jdk so can analyse out of memory issues
  hmpps-prisoner-search-indexer/Dockerfile
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-991: 🔧 Temporarily switch to jdk so can analyse out of memory issues (#137)
  hmpps-prisoner-search-indexer/Dockerfile
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-988: ✨ Production instance of prisoner search
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-988: ✨ Production instance of prisoner search (#138)
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1114: 🔧 Open up dev as called from circleci
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1114: 🔧 Open up dev as called from circleci (#139)
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1116: ⬆️ Upgrade to latest spring boot
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1116: ⬆️ Upgrade to latest spring boot (#140)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-990: 🔧 Restore opensearch pre-production from production
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/restore.sh
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-restore.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-990: 🔧 Restore opensearch pre-production from production (#141)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/restore.sh
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-restore.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-990: 🔧 Add missing slack notifications
  .circleci/continue_config.yml
Due: none

SDIT-990: 🔧 Add missing slack notifications (#142)
  .circleci/continue_config.yml
Due: none

SDIT-1114: 🔧 Add in missing allowlist values for fosseway and analytical platform
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1114: 🔧 Add in missing allowlist values for fosseway and analytical platform (#143)
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-955: 🔧 Add alerting for queues
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"
