Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.2.0 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@11
parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts-security
workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          tag: '3.13'
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-2737 Try without paths
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Set up opensearch
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Try volume creation for opensearch
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
Due: none

SDIT-2737 Revert previous
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Ensure postgres set up for indexer
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/pipeline-indexer.yml
Due: none

SDIT-2737 Ensure db name matches docker file
  .github/workflows/pipeline-indexer.yml
Due: none

SDIT-2737 Move to github actions (#558)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/actions/build_docker.yml
  .github/actions/cloud-platform-deploy.yml
  .github/workflows/deploy_env.yml
  .github/workflows/deploy_to_env.yml
  .github/workflows/docker_build.yml
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/smoke_test.yml
  README.md
  hmpps-prisoner-search-indexer/README.md
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: build-common, build-indexer, build-search

SDIT-2737 Try docker build on branch
  .github/workflows/docker_build.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Move action files to correct directory structure
  .github/actions/build_docker/actions.yml
  .github/actions/cloud-platform-deploy/actions.yml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
Due: none

SDIT-2737 retry action checkout before separating action files for each project
  .github/workflows/docker_build.yml
Due: none

SDIT-2737 Separate actions
  .github/workflows/docker_build.yml
  hmpps-prisoner-search/.github/actions/build_docker/actions.yml
Due: build-search

SDIT-2737 action not actions yaml
  .github/actions/build_docker/action.yml
  .github/actions/cloud-platform-deploy/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
  hmpps-prisoner-search/.github/actions/build_docker/actions.yml
Due: build-search

SDIT-2737 refer to dir not action.yaml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
Due: none

SDIT-2737 try setting context to find docker file
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 pick up default dockerfile
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 take file from current dir
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Use file rather than build-args for docker path/filename
  .github/actions/build_docker/action.yml
  .github/workflows/docker_build.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Revert to docker build on main only
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Fix docker file name (#559)
  .github/actions/build_docker/action.yml
  .github/actions/cloud-platform-deploy/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Fix use of k8s_deployment_name
  .github/actions/cloud-platform-deploy/action.yml
Due: none

SDIT-2737 Fix use of k8s_deployment_name (#560)
  .github/actions/cloud-platform-deploy/action.yml
Due: none

SDIT-2737 Fix auth url for smoke test
  hmpps-prisoner-search-indexer/src/testSmoke/resources/application-smoke-test.yml
  hmpps-prisoner-search/src/testSmoke/resources/application-smoke-test.yml
Due: build-indexer, build-search

SDIT-2737 Fix auth url for smoke test (#561)
  hmpps-prisoner-search-indexer/src/testSmoke/resources/application-smoke-test.yml
  hmpps-prisoner-search/src/testSmoke/resources/application-smoke-test.yml
Due: build-indexer, build-search

SDIT-2791: 🔥 Delete accidentally committed veracode file
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2791: 🔥 Delete accidentally committed veracode file (#562)
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2737 Use common cloud-platform-deploy action
  .github/actions/cloud-platform-deploy/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Use common cloud-platform-deploy action (#563)
  .github/actions/cloud-platform-deploy/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Use common docker workflow files
  .github/actions/build_docker/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Remove unnecessary helm_lint for preprod/prod
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2793 Use latest versions
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2793 Use client tracking from library
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ClientTrackingConfiguration.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ClientTrackingConfigurationTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfiguration.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfigurationTest.kt
Due: build-indexer, build-search

SDIT-2737 Force build
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
Due: build-indexer

SDIT-2737 Use common docker workflow files (#564)
  .github/actions/build_docker/action.yml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
Due: build-indexer

SDIT-2793 Rollback test swagger parser
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-2793 Go to swagger versions that don't break open API docs tests
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2793 Upgrades and remove client tracking client (#565)
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ClientTrackingConfiguration.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ClientTrackingConfigurationTest.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfiguration.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfigurationTest.kt
Due: build-common, build-indexer, build-search

SDIT-2737 Try test reporter
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 Try test reporter -2
  .github/workflows/gradle_localstack_postgres_verify.yml
  .github/workflows/gradle_localstack_verify.yml
Due: none

SDIT-2737 set build dir
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none
