Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.2.0 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@11
parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts-security
workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          tag: '3.13'
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-2937: ⚡️ Fix Dockerfiles (#598)
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search/Dockerfile
Due: build-indexer, build-search

SDIT-2937: 🐛 Fix version in /info
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsIntTest.kt
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-indexer, build-search

SDIT-2937: 🐛 Fix version in /info (#601)
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsIntTest.kt
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-indexer, build-search

Update api docs for writeRestrictedPatientsJson to 2025-07-30.47.8a049d8
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

Update api docs for writeIncentivesJson to 2025-07-30.59.7fdfc1b
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

SDIT-2181: ✨ Turn off create from scratch as didn't work properly
  .github/workflows/check_prs.yml
Due: none

SDIT-2181: ✨ Turn off create from scratch as didn't work properly (#602)
  .github/workflows/check_prs.yml
Due: none

SDIT-2671: 👷 Another attempt at allowing auto merge by adding in a pr check job
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2671: 👷 Correct typo
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2671: 👷 Another attempt at allowing auto merge by adding in a pr check job (#603)
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2937: 👷 Add in veracode scans
  .github/workflows/security_trivy.yml
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2671: 💩 Break the tests so that can test changes
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
Due: build-search

SDIT-2937: 👷 Add in veracode scans (#604)
  .github/workflows/security_trivy.yml
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

Update api docs for writeIncentivesJson to 2025-07-31.61.e11324e
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

Update api docs for writeRestrictedPatientsJson to 2025-08-01.49.a8ca4db
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-2181: 👷 Remove label creation as not working and don't need it anyway
  .github/workflows/check_prs.yml
Due: none

SDIT-2671: 👷 Fix model differences test
  check-api-docs.bash
Due: none

SDIT-2181: 👷 Remove label creation as not working and don't need it anyway (#609)
  .github/workflows/check_prs.yml
Due: none

SDIT-2671: 👷 Fix model differences test (#610)
  check-api-docs.bash
Due: none

SDIT-2937: 👷 Fix artifact directory for veracode scans
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2937: 👷 Fix veracode policy scans for multi module gradle projects
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2937: 👷 Fix artifact directory for veracode scans (#611)
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2094 Try out WebClient changes in latest kotlin lib
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2984: ♻️ Switch to alerts api for search reference data
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/WebClientConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthPingCheck.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/AlertsApiService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/main/resources/application-dev.yml
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/wiremock/AlertsApiMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AlertsReferenceDataResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/AlertsApiServiceIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonApiServiceIntegrationTest.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
Due: build-search

SDIT-2984: ♻️ Switch to alerts api for search reference data (#612)
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/WebClientConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthPingCheck.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/AlertsApiService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/main/resources/application-dev.yml
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/wiremock/AlertsApiMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AlertsReferenceDataResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/AlertsApiServiceIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonApiServiceIntegrationTest.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
Due: build-search

SDIT-2094 Try out WebClient changes in latest kotlin lib (#613)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2737: 🔧 Move references for quay.io to ghcr
  docker-compose.yml
Due: none

SDIT-2737: 🔧 Move references for quay.io to ghcr (#614)
  docker-compose.yml
Due: none

SDIT-2094 Use client credentials timeout on full version
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2094 Use client credentials timeout on full version (#615)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-2937: 🔒️ Add permissions to veracode workflows
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2937: 🔒️ Add permissions to veracode workflows (#616)
  .github/workflows/security_veracode_pipeline_scan.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2989: ⬆️ Upgrade for app insights agent fix
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-2989: ⬆️ Upgrade for app insights agent fix (#617)
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-2993: ✅ Try out using atlassian validator
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-search

SDIT-2993: ✅ Try out using atlassian validator (2)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-search

SDIT-2800 Move client creds into client-creds secret
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-2993 Use discriminator annotation instead of config
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Matcher.kt
Due: build-search

SDIT-2993: ✅ Better fix for the discriminator
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/api/Matcher.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-search

SDIT-2800 Move client creds into client-creds secret (#619)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer
