Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.2.0 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@11
parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts-security
workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          tag: '3.13'
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-3789: ⬆️ Upgrade gradle plugin for netty and other security issues (#772)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-3789: ⬆️ Upgrade gradle plugin for dompurify suppression
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3789: ⬆️ Upgrade gradle plugin for dompurify suppression (#773)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3675: 🔧 Move to new preprod restricted patients
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3675: 🔧 Move to new preprod restricted patients (#774)
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3789: ⬆️ Upgrade openapi generator and allocate more memory
  gradle.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-3789: ⬆️ Upgrade openapi generator and allocate more memory (#775)
  gradle.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-3792: 🔧 Sign images etc.
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-3792: 🔧 Sign images etc. (#776)
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-3702: ✨ Add in cron prefix override
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: build-indexer, build-search

SDIT-3702: ✨ Add in cron prefix override (#777)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: build-indexer, build-search

SDIT-3702: ✨ Add in cron prefix override for opensearch
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-daily-snapshot.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-restore.yaml
Due: build-indexer

SDIT-3702: ✨ Add in cron prefix override for opensearch (#778)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-daily-snapshot.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-restore.yaml
Due: build-indexer

SDIT-3798: ⬆️ Upgrade gradle plugin for snyk ignore handling
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/smoke_test.yml
  .snyk
  build.gradle.kts
  common/.snyk
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search/.snyk
Due: build-common, build-indexer, build-search

SDIT-3798: ⬆️ Upgrade gradle plugin for snyk ignore handling (#779)
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/smoke_test.yml
  .snyk
  build.gradle.kts
  common/.snyk
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search/.snyk
Due: build-common, build-indexer, build-search

SDIT-3675: 🔧 Move to new prod restricted patients
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3675: 🔧 Move to new prod restricted patients (#780)
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3803: 🐛 Default alerts to empty list to prevent null pointers in clients
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/AlertsService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_criteria_single_match.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_results.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_A7089FA.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc2.json
Due: build-common, build-indexer, build-search

SDIT-3803: 🐛 Default alerts to empty list to prevent null pointers in clients (#781)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/AlertsService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_criteria_single_match.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_results.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_A7089FA.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc2.json
Due: build-common, build-indexer, build-search

SDIT-3807: ⬆️ Upgrade gradle plugin for tomcat vulns
  .snyk
  .trivyignore
  build.gradle.kts
  common/.snyk
  common/.trivyignore
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search/.snyk
  hmpps-prisoner-search/.trivyignore
Due: build-common, build-indexer, build-search

SDIT-3807: ⬆️ Upgrade gradle plugin for tomcat vulns (#782)
  .snyk
  .trivyignore
  build.gradle.kts
  common/.snyk
  common/.trivyignore
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search/.snyk
  hmpps-prisoner-search/.trivyignore
Due: build-common, build-indexer, build-search

SDIT-3803: 🐛 Second fix for defaulting alerts to empty list to prevent null pointers in clients
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-3803: 🐛 Second fix for defaulting alerts to empty list to prevent null pointers in clients (#783)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: build-indexer

SDIT-3813: 🔇 Suppress azure false positive
  azure-dependency-check-suppress.xml
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3813: 🔇 Suppress azure false positive (#784)
  azure-dependency-check-suppress.xml
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3827: ✅ Fix test to inject build properties and not be dependent on date built
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-indexer, build-search

SDIT-3827: ✅ Fix test to inject build properties and not be dependent on date built (#785)
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-indexer, build-search

SDIT-3827: ✅ Update info test to use build properties
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/InfoIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-indexer, build-search

SDIT-3827: ✅ Update info test to use build properties (#786)
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/OpenApiDocsTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/InfoIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: build-indexer, build-search

SDIT-3365 prisoner-search ignores event that affects index
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-3004 capture prisoner-search unknown event scenario
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-3004 capture prisoner-search unknown event scenario (#788)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-3855: 👽️ Switch to new incentives prisoner endpoint
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/openapi-generator-ignore-incentives
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/IncentivesApiMockServer.kt
Due: build-indexer

SDIT-3855: 👽️ Switch to new incentives prisoner endpoint (#789)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/openapi-generator-ignore-incentives
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IncentivesServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/IncentivesApiMockServer.kt
Due: build-indexer

Update api docs for writeIncentivesJson to 2026-06-03.406.20894df
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

SDIT-3863: 🔒️ Replace snyk api token with credentials
  .github/workflows/security_snyk_scan.yml
Due: none

SDIT-3863: 🔒️ Replace snyk api token with credentials (#791)
  .github/workflows/security_snyk_scan.yml
Due: none

SDIT-3866 Search API call after receive returned wrong bookingId
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: build-indexer

SDIT-3887: ⬆️ Upgrade gradle plugin for spring boot 4.1.0
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  build.gradle.kts
  common/.snyk
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/.snyk
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search
