Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: 🐛 Don't output null values
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/src/main/resources/application.yml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: 🐛 Don't output null values (#72)
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/src/main/resources/application.yml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: ✨ Fix job name being too long (#71)
  .gitignore
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/check-indexing-complete.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: ✨ Fix job referring to old service
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/compare-index-size-cronjob.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: ✨ Fix job referring to old service (#73)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/compare-index-size-cronjob.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-937 Add KeywordSearch test and test base to load test prisoners
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/RestResponsePage.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/repository/PrisonerRepository.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/KeywordSearchResourceTest.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA1090AA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EY.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EZ.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FX.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AD.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AE.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AF.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BD.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BE.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BF.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999AA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999AB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999AC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RC.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Additional test files
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/wiremock/OpenSearchMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/repository/IndexStatusRepository.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Remove GREEN check on opensearch - status check is fine
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/wiremock/OpenSearchMockServer.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add KeywordSearch test and test base to load test prisoners (#74)
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/RestResponsePage.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/repository/IndexStatusRepository.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/repository/PrisonerRepository.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/KeywordSearchResourceTest.kt
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA1090AA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EY.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089EZ.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7089FX.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AD.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AE.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090AF.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BD.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BE.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA7090BF.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999AA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999AB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999AC.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RA.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RB.json
  hmpps-prisoner-search/src/test/resources/prisoners/prisonerA9999RC.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add more resource tests
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Ensure exceptions handled
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/HmppsPrisonerSearchExceptionHandler.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add restricted patient tests
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientsSearchResourceTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add possible match search tests
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PossibleMatchesSearchResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/empty.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_criteria_single_match.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_results.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_A7089FA.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc2.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add restricted patient and possible match tests (#76)
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PossibleMatchesSearchResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientsSearchResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/empty.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_criteria_single_match.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/multiple_results.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_A7089FA.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc.json
  hmpps-prisoner-search/src/test/resources/results/possibleMatches/search_results_pnc2.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add Prisoner Search by release date tests
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/HmppsPrisonerSearchExceptionHandler.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByReleaseDateResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_conditional_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_confirmed_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_filtered_by_prison.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_2.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add Prisoner Search by release date tests (#77)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/HmppsPrisonerSearchExceptionHandler.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByReleaseDateResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_conditional_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_confirmed_release_date.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_filtered_by_prison.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_pagination_page_2.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add tests using PrisonerBuilder
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/Alert.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/Alias.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/Assessment.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/AssignedLivingUnit.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/OffenceHistoryDetail.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/OffenderBooking.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/OffenderIdentifier.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PersonalCareNeed.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PhysicalAttributes.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PhysicalCharacteristic.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PhysicalMark.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/ProfileInformation.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/RestrictivePatient.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/SentenceDetail.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/SentenceTerm.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByPrisonerNumbersResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonersInPrisonResourceTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Ensure index rebuilt for each test
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/AuthenticationHolderTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfigurationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
  hmpps-prisoner-search/src/test/resources/templates/booking.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Ensure correct client id set
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Ensure default max-page-size set
  hmpps-prisoner-search/src/main/resources/application.yml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add tests using PrisonerBuilder (#78)
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/AuthenticationHolderTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfigurationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/Alert.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/Alias.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/Assessment.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/AssignedLivingUnit.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/OffenceHistoryDetail.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/OffenderBooking.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/OffenderIdentifier.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PersonalCareNeed.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PhysicalAttributes.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PhysicalCharacteristic.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/PhysicalMark.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/ProfileInformation.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/RestrictivePatient.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/SentenceDetail.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/SentenceTerm.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByPrisonerNumbersResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonersInPrisonResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
  hmpps-prisoner-search/src/test/resources/templates/booking.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add Prisoner match tests and rename RestrictivePatient to RestrictedPatient
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/RestrictedPatient.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerMatchResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_cro.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_noms.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_pnc.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_pnc2.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_sams_aliases.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_smith.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Ensure correct import used
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/dto/MatchRequest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add Prisoner match tests and rename RestrictivePatient to RestrictedPatient (#79)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/dto/MatchRequest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/RestrictedPatient.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/nomis/dto/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerMatchResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_cro.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_noms.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_pnc.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_pnc2.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_sams_aliases.json
  hmpps-prisoner-search/src/test/resources/results/prisonerMatch/search_results_smith.json
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add Search by BookingId tests
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/GsonConfig.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByBookingIdsResourceTest.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add Search by BookingId tests (#80)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/GsonConfig.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByBookingIdsResourceTest.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add synthetic monitor
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Set up result size correctly
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add synthetic monitor (#81)
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/AbstractSearchDataIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Add prisoner mapping to index
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-937 Add prisoner mapping to index (#82)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerRepository.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-962: ⬆️ Upgrade spring / kotlin etc.
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-962: ⬆️ Upgrade spring boot too
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

SDIT-962: ⬆️ Upgrade spring / kotlin etc. (#83)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-962: ⬆️ Copy suppressions to root of project
  .gitignore
Due: none

SDIT-962: ⬆️ Copy suppressions to root of project
  dps-gradle-spring-boot-suppressions.xml
Due: none

SDIT-962: ⬆️ Copy suppressions to root of project (#84)
  .gitignore
  dps-gradle-spring-boot-suppressions.xml
Due: none

SDIT-937: 🐛 Fix cron scheduling not to run during downtime
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/check-indexing-complete.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/compare-index-size-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/retry-dlqs-cronjob.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

Path conditions:
  workflow-directory="hmpps-prisoner-search": any of: (model/.*|hmpps-prisoner-search/.*)
  workflow-directory="hmpps-prisoner-search-indexer": any of: (model/.*|hmpps-prisoner-search-indexer.*)
