Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.2.0 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@11
parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts-security
workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          tag: '3.13'
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-2691 Add response fields to /prisoner-search/match-prisoners endpoint (#541)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerResponseFieldsTest.kt
Due: build-search

SDIT-2779 Add image ID to prisoner search
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2779 Add image ID to prisoner search (#542)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2788: ⬆️ Upgrade hmpps spring boot plugin to 8.2.0
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-2691 Add response fields to release-date-by-prison endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByReleaseDateResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to release-date-by-prison endpoint (#544)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByReleaseDateResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to possible-matches endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PossibleMatchesSearchResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to possible-matches endpoint (#545)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PossibleMatchesSearchResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to global-search endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/GlobalSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: build-search

SDIT-2788: 🐛 Fix web client loading after spring boot upgrade
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/SpringAPIServiceTest.kt
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
Due: build-indexer, build-search

SDIT-2691 Add response fields to global-search endpoint (#546)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/GlobalSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: build-search

SDIT-2788: ⬆️ Upgrade hmpps spring boot plugin to 8.2.0 (#543)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/PrisonerDifferencesRepositoryTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/SpringAPIServiceTest.kt
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
Due: build-common, build-indexer, build-search

SDIT-2691 Add response fields to get prisoner endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to get prisoner endpoint (#547)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to prisoner-detail and restricted patient endpoints
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerDetailResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientsSearchResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to prisoner-detail and restricted patient endpoints (#548)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerDetailService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerDetailResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientsSearchResourceTest.kt
Due: build-search

SDIT-2691 Add response fields to keyword search
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerKeywordResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/KeywordService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/KeywordSearchResourceTest.kt
Due: build-search

SDIT-2774: 🔇 Prevent flyway logging database params
  hmpps-prisoner-search-indexer/src/main/resources/logback-spring.xml
Due: build-indexer

SDIT-2691 Add response fields to keyword search (#550)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerKeywordResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/KeywordService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/KeywordSearchResourceTest.kt
Due: build-search

SDIT-2774: 🔇 Prevent flyway logging database params (#549)
  hmpps-prisoner-search-indexer/src/main/resources/logback-spring.xml
Due: build-indexer

SDIT-2795: 🔧 Move prison api to ghcr
  docker-compose.yml
Due: none

SDIT-2795: 🔧 Move prison api to ghcr (#551)
  docker-compose.yml
Due: none

SDIT-2791: 👷 Include codeql and update security jobs
  .github/workflows/security_codeql_actions_scan.yml
  .github/workflows/security_owasp.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2791: 👷 Include codeql and update security jobs (#552)
  .github/workflows/security_codeql_actions_scan.yml
  .github/workflows/security_owasp.yml
  .github/workflows/security_veracode_policy_scan.yml
Due: none

SDIT-2691 Add response fields to attribute search
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
Due: build-search

SDIT-2691 Add response fields to attribute search (#553)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchServiceTest.kt
Due: build-search

SDIT-2691 Add documentation for response fields
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ReferenceDataResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ResponseFieldsResource.kt
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: build-search

SDIT-2691 Add documentation for response fields (#554)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/AttributeSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ReferenceDataResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ResponseFieldsResource.kt
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: build-search

SDIT-2791: 👷 Fix security jobs for multi project gradle
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2791: 👷 Fix security jobs for multi project gradle (#555)
  .github/workflows/security_owasp.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-2691 Add response fields query parm to physical details endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PhysicalDetailService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResourceTest.kt
Due: build-search

SDIT-2691 Add response fields query parm to physical details endpoint (#556)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PhysicalDetailService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResourceTest.kt
Due: build-search

SDIT-2742 Add care needs, smoking and languages fields to prisoner-search add events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2742 Add care needs, smoking and languages fields to prisoner-search add events (#557)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2737 Move to github actions
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/build_docker.yml
  .github/workflows/cloud-platform-deploy.yml
  .github/workflows/deploy_env.yml
  .github/workflows/deploy_to_env.yml
  .github/workflows/docker_build.yml
  .github/workflows/gradle_localstack_verify.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/smoke_test.yml
  README.md
  hmpps-prisoner-search-indexer/README.md
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: build-common, build-indexer, build-search

SDIT-2737 Remove versioning for local workflow
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Try 'on workflow_call' instead of 'on push'
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Move cloud-platform-deploy to use on workflow_call
  .github/workflows/cloud-platform-deploy.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none

SDIT-2737 Refactor files into actions dir
  .github/actions/build_docker.yml
  .github/actions/cloud-platform-deploy.yml
  .github/workflows/cloud-platform-deploy.yml
  .github/workflows/deploy_env.yml
  .github/workflows/docker_build.yml
Due: none

SDIT-2737 Ensure actions path picked up
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
Due: none
