Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@8

parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts

workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-1618 Add addresses
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Address.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/dto/nomis/Address.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/dto/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-1723: 🐛 Fix index queue alert channel
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/index-queues-prometheus-rules.yaml
Due: build-indexer

SDIT-1723: 🐛 Fix index queue alert channel (#343)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/index-queues-prometheus-rules.yaml
Due: build-indexer

SDIT-1618 Add addresses (#342)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Address.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/dto/nomis/Address.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/dto/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-1618 Add type for address start date
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Address.kt
Due: build-common, build-indexer, build-search

SDIT-1618 Add type for address start date (#344)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Address.kt
Due: build-common, build-indexer, build-search

SDIT-1702: ✨ Switch to latest orb to get limiting of changelogs
  .circleci/continue_config.yml
Due: build-common, build-indexer, build-search

SDIT-1702: ✨ Switch to latest orb to get limiting of changelogs (#345)
  .circleci/continue_config.yml
Due: build-common, build-indexer, build-search

SDIT-1720: ⬆️ Upgrade to latest helm charts etc.
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-indexer, build-search

SDIT-1618 Add tests for addresses
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/PrisonApiMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
Due: build-indexer, build-search

SDIT-1618 Add tests for addresses (#348)
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/PrisonApiMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchIntegrationTest.kt
Due: build-indexer, build-search

SDIT-1720: ⬆️ Upgrade to latest helm charts etc. (#347)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-indexer, build-search

SDIT-1648 Add title to Prisoner record
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/PrisonerAlias.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Alias.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ReferenceDataResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1648 Add title to Prisoner record (#349)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/PrisonerAlias.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Alias.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResourceIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/ReferenceDataService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ReferenceDataResourceTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1732: 🐛 Only alert on number of messages, not age
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: build-indexer

SDIT-1732: 🐛 Only alert on number of messages, not age (#350)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: build-indexer

SDIT-1735: 🎨 Migrate sampling overrides
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: build-indexer, build-search

SDIT-1735: 🎨 Migrate sampling overrides (#351)
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: build-indexer, build-search

SDIT-1653 Add email addresses to the Prisoner record
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/EmailAddress.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/EmailAddress.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeResolverTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1653 Add email addresses to the Prisoner record (#352)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/EmailAddress.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/EmailAddress.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeResolverTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1652 Add phone numbers to the Prisoner record
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/PhoneNumber.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Telephone.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1652 Add phone numbers to the Prisoner record (#353)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/PhoneNumber.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/OffenderBooking.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Telephone.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1652 Listen for NOMIS phone number changes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-1652 Listen for NOMIS phone number changes (#354)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-1732: 🐛 Ensure we get alerted on any stuck messages
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-1732: 🐛 Ensure we get alerted on any stuck messages (#355)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-1653 Fix difference category
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/PrisonerDifference.kt
Due: build-common, build-indexer, build-search

SDIT-1651 Add phone numbers to addresses
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Address.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Address.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeResolverTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1653 Fix difference category (#356)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/PrisonerDifference.kt
Due: build-common, build-indexer, build-search

SDIT-1651 Add phone numbers to addresses (#357)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Address.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/nomis/Address.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AtttributeResolver.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeResolverTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1732: 🐛 Set threshold to be string 0 otherwise it uses default of 100
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-1732: 🐛 Set threshold to be string 0 otherwise it uses default of 100 (#358)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-1651 Listen for updates to offender address phone numbers
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-1651 Listen for updates to offender address phone numbers (#359)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-1698 Add DL, NINO and alias identifiers to the Prisoner record
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Identifier.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search

SDIT-1698 Just save short form PNC, we can convert search terms when adding search on identifiers
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
Due: build-common, build-indexer, build-search

SDIT-1698 Just save short form PNC, we can convert search terms when adding search on identifiers
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/CanonicalPnc.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-1698 Add DL, NINO and alias identifiers to the Prisoner record (#360)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/CanonicalPnc.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Identifier.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/translator.kt
  common/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/TranslatorTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/ObjectBuilder.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/model/PrisonerModelIntTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/attributesearch/AttributeSearchFieldsIntegrationTest.kt
Due: build-common, build-indexer, build-search
