Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-955: 🔧 Add alerting for queues (#144)
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1124: 🔒️ Update images for libc6 vuln.
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1124: 🔒️ Update images for libc6 vuln. (#145)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1114: ✨ Remove dev prefix as have now taken over publishing events
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1113: 🔒️ Secure automated refresh endpoint and test
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/ResourceSecurityTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1114: ✨ Remove dev prefix as have now taken over publishing events (#146)
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1113: 🔒️ Secure automated refresh endpoint and test (#147)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/ResourceSecurityTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-956: 🐛 Change sampling to be 100%
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-956: 🐛 Change sampling to be 100% (#148)
  hmpps-prisoner-search-indexer/applicationinsights.dev.json
  hmpps-prisoner-search-indexer/applicationinsights.json
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1113: 🔒️ Move annotations to resource level and test
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/helpers/JwtAuthHelper.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ResourceSecurityTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1113: 🔒️ Move annotations to resource level and test (#149)
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/helpers/JwtAuthHelper.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResourceIntTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/RestrictedPatientSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/RestrictedPatientSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/ResourceSecurityTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-955: 🔧 Better scheduling for jobs
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-955: 🔧 Better scheduling for jobs (#150)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1095: 🔧 Add in longer alerting period for index queues
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/index-queues-prometheus-rules.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1128 Upgrade localstack in SQS lib
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1095: 🔧 Add in longer alerting period for index queues (#151)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/index-queues-prometheus-rules.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1128 Upgrade localstack in SQS lib (#152)
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-955: 🔧 Change snapshot schedule
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-daily-snapshot.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-955: 🔧 Change snapshot schedule (#153)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/templates/opensearch-daily-snapshot.yaml
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1140: 🔒️ Suppress latest netty vulnerability.
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1142: 🔒️ Also remove jjwt workaround
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1140: 🔒️ Suppress latest netty vulnerability. (#154)
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

HIA-553: 🐛 Fix invalid Swagger docs security schemes for endpoints
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerKeywordResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerMatchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonersInPrisonResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

HIA-553: 🐛 Fix invalid Swagger docs security schemes for endpoints (#155)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/GlobalSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PhysicalDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerDetailResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerKeywordResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerMatchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonersInPrisonResource.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/OpenApiDocsTest.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1141: 🔒️ Suppress vulnerabilities that aren't related to opensearch
  dependency-check-suppress-opensearch.xml
  dps-gradle-spring-boot-suppressions.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1141: 🔒️ Suppress vulnerabilities that aren't related to opensearch (#156)
  dependency-check-suppress-opensearch.xml
  dps-gradle-spring-boot-suppressions.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Start to update documentation for prisoner search
  README.md
  docker-compose-test.yml
  docker-compose.yml
  hmpps-prisoner-search-indexer/README.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Start to update documentation for prisoner search (#157)
  README.md
  docker-compose-test.yml
  docker-compose.yml
  hmpps-prisoner-search-indexer/README.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1150: 🐛 Stop dynamic uri references to prevent tag explosion and running out of memory
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RestrictedPatientService.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1150: 🐛 Stop dynamic uri references to prevent tag explosion and running out of memory (#158)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/RestrictedPatientService.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1114: 🔧 Add in missing allowlist values for prum
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1114: 🔧 Add in missing allowlist values for prum (#159)
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-1114: 🔧 Use latest gradle plugin to sort suppressions
  .gitignore
  build.gradle.kts
  dps-gradle-spring-boot-suppressions.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1114: 🔧 Use latest gradle plugin to sort suppressions (#160)
  .gitignore
  build.gradle.kts
  dps-gradle-spring-boot-suppressions.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Improve openapi docs
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/DomainEventsResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResource.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Improve openapi docs (#161)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/CompareIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/DomainEventsResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/PrisonerDifferencesResource.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/RefreshIndexResource.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1159: ✨ Start listening to restricted patient events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1159: ✨ Start listening to restricted patient events (#162)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1164: 🔒️ Upgrade spring boot for tomcat vulnerability
  build.gradle.kts
  common/build.gradle.kts
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1164: 🔒️ Upgrade spring boot for tomcat vulnerability (#163)
  build.gradle.kts
  common/build.gradle.kts
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

Path conditions:
  workflow-directory="hmpps-prisoner-search": any of: (model/.*|hmpps-prisoner-search/.*)
  workflow-directory="hmpps-prisoner-search-indexer": any of: (model/.*|hmpps-prisoner-search-indexer.*)
