Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

SDIT-3866-Search-API-call-after-receive-returned-wrong-bookingId (#792)
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
Due: build-indexer

SDIT-3887: ⬇️ Downgrade to spring boot 4.0.7
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/MatchDomainEvents.kt
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3887: ⬆️ Upgrade gradle plugin for spring boot 4.0.7 (#793)
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
  build.gradle.kts
  common/.snyk
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/MatchDomainEvents.kt
  hmpps-prisoner-search/.snyk
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-3887: 🔒️ Missed off the .snyk file in commit
  .snyk
Due: none

SDIT-3887: 🔒️ Missed off the .snyk file in commit (#794)
  .snyk
Due: none

SDIT-3916: ⬆️ Upgrade gradle plugin for dom purify suppressions
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-common, build-indexer, build-search

SDIT-3916: ⬆️ Upgrade gradle plugin for dom purify suppressions (#795)
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: build-common, build-indexer, build-search

SDIT-3916: ⬆️ Upgrade gradle plugin for dom purify suppressions
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3916: ⬆️ Upgrade gradle plugin for dom purify suppressions (#796)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3982: 🔒️ Update to github action versions and turn off persisting credentials
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
Due: none

SDIT-3982: 🔒️ Update to github action versions and turn off persisting credentials (#797)
  .github/workflows/check_api_docs.yml
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  .github/workflows/setup_api_matrix.yml
  .github/workflows/smoke_test.yml
Due: none

MAPB-573 Add lastMovementDate to prisoner index
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

Comment out DiffableProperty initially
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: build-common, build-indexer, build-search

Fix lint
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: build-common, build-indexer, build-search

MAPB-573 Add lastMovementDate to prisoner index (#798)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/TranslatorTest.kt
Due: build-common, build-indexer, build-search

SDIT-2080 Assessment trigger needs deletions and extra fields
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-2080 Assessment trigger needs deletions and extra fields (#799)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
Due: build-indexer

SDIT-4019: ⬆️ Upgrade to latest libs
  azure-dependency-check-suppress.xml
  build.gradle.kts
  common/build.gradle.kts
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/config/ApplicationInsightsConfiguration.kt
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4019: ⬆️ Upgrade to latest libs (#800)
  azure-dependency-check-suppress.xml
  build.gradle.kts
  common/build.gradle.kts
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/config/ApplicationInsightsConfiguration.kt
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4027: ⬆️ Upgrade to spring boot 4.1.0
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4027: ⬆️ Upgrade to spring boot 4.1.0 (#801)
  build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4027: ⬆️ Upgrades for jackson and http core / client
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4027: 🐛 Fix smoke tests
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
Due: build-indexer, build-search

SDIT-4027: 🐛 Fix smoke tests (#803)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
Due: build-indexer, build-search

SDIT-4027: ⬆️ Upgrades for jackson and http core / client (#802)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3976: 📝 Remove required fields from swagger docs
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: build-common, build-indexer, build-search

SDIT-3976: 📝 Remove required fields from swagger docs (#804)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/Prisoner.kt
Due: build-common, build-indexer, build-search

SDIT-4040: ✨ Start to listen to more sentence changes
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: build-indexer

SDIT-4040: ✨ Start to listen to more sentence changes (#805)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: build-indexer

SDIT-4027: ⬆️ Upgrades for kotlin and vulns
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4027: ⬆️ Upgrades for kotlin and vulns (#806)
  .github/workflows/check_prs.yml
  .github/workflows/pipeline-indexer.yml
  .github/workflows/pipeline-search.yml
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4064: ✨ Grab religion from the religion field instead of the profile
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
Due: build-indexer

SDIT-4064: ✨ Grab religion from the religion field instead of the profile (#807)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/translator.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
Due: build-indexer

SDIT-4080: 📌 Upgrade plugin to pin swagger-ui for dompurify issue
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
Due: build-common, build-indexer, build-search

SDIT-4080: 📌 Upgrade plugin to pin swagger-ui for dompurify issue (#808)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
Due: build-common, build-indexer, build-search

SDIT-4130: ⬆️ Upgrades for tomcat suppression
  .snyk
  build.gradle.kts
  common/.snyk
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search/.snyk
Due: build-common, build-indexer, build-search

SDIT-4130: ⬆️ Upgrades for tomcat suppression (#810)
  .snyk
  build.gradle.kts
  common/.snyk
  hmpps-prisoner-search-indexer/.snyk
  hmpps-prisoner-search/.snyk
Due: build-common, build-indexer, build-search

Update api docs for writeIncentivesJson to 2026-08-03.454.fdf1333
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

SDIT-4153: 🔒️ Upgrade gradle plugin for httpclient and suppress dompurify
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-4153: 🔒️ Upgrade gradle plugin for httpclient and suppress dompurify (#811)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

Path conditions:
  build-common: any of: (common/.*|build.gradle.kts|.circleci/.*)
  build-indexer: any of: (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*)
  build-search: any of: (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*)
