Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

SDIT-1262: 🐛 Try wiring elasticsearchOperations instead (#196)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/health/OpenSearchHealthIndicator.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenSearchConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/OpenSearchHealthIndicator.kt
Due: build-indexer, build-search

SDIT-1262: 🐛 Change index state to absent until new index created
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/IndexStatus.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexStatusService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/IndexStatusIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexStatusServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-1262: 🐛 Change index state to absent until new index created (#198)
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/model/IndexStatus.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexStatusService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/repository/IndexStatusIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexStatusServiceTest.kt
Due: build-common, build-indexer, build-search

SDIT-1278: 🐛 Add in new exception handler for resource not found
  hmpps-prisoner-search-indexer/SendingMessages.md
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/HmppsPrisonerSearchIndexerExceptionHandler.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/HmppsPrisonerSearchExceptionHandler.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
Due: build-indexer, build-search

SDIT-1278: ⬆️ Upgrade to spring boot 3.2
  build.gradle.kts
  common/.trivyignore
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1278: ✅ Switch to standalone wiremock as not compatible with jetty 12 from spring boot
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-1278: ⬆️ Upgrade to spring boot 3.2 (#197)
  build.gradle.kts
  common/.trivyignore
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/SendingMessages.md
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/HmppsPrisonerSearchIndexerExceptionHandler.kt
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/HmppsPrisonerSearchExceptionHandler.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
Due: build-common, build-indexer, build-search

SDIT-1262: ✅ Test that message received before add mapping is not added to newly created index
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResourceIntTest.kt
Due: build-indexer

SDIT-1262: ✅ Test that message received before add mapping is not added to newly created index (#199)
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResourceIntTest.kt
Due: build-indexer

SDIT-1262: ✅ Remove timeout as not needed now
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResourceIntTest.kt
Due: build-indexer

SDIT-1220: ✨ Fixes for search after local smoke testing
  docker-compose.yml
Due: none

SDIT-1220: ✨ Fixes for search after local smoke testing (#201)
  docker-compose.yml
Due: none

SDIT-1262: ✅ Remove timeout as not needed now (#200)
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/resource/MaintainIndexResourceIntTest.kt
Due: build-indexer

SDIT-1220: ✨ Add in smoketest
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTest.kt
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search-indexer/src/testSmoke/resources/application-smoke-test.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTest.kt
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search/src/testSmoke/resources/application-smoke-test.yml
Due: build-common, build-indexer, build-search

SDIT-1220: ✨ Only run individual project smoke test
  .circleci/continue_config.yml
Due: build-common, build-indexer, build-search

SDIT-1220: ✨ Add in smoketest (#203)
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTest.kt
  hmpps-prisoner-search-indexer/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search-indexer/src/testSmoke/resources/application-smoke-test.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTest.kt
  hmpps-prisoner-search/src/testSmoke/kotlin/uk/gov/justice/hmpps/offenderevents/smoketest/SmokeTestConfiguration.kt
  hmpps-prisoner-search/src/testSmoke/resources/application-smoke-test.yml
Due: build-common, build-indexer, build-search

SDIT-1220: ✨ Bypass preprod approval as smoke test runs instead
  .circleci/continue_config.yml
Due: build-common, build-indexer, build-search

SDIT-1220: ✨ Bypass preprod approval as smoke test runs instead (#204)
  .circleci/continue_config.yml
Due: build-common, build-indexer, build-search

SDIT-1303: 🔒️ Upgrade to latest plugin to suppress logback
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1303: 🔒️ Also upgrade elastic version
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1303: 🔒️ Upgrade to latest plugin to suppress logback (#202)
  build.gradle.kts
  common/.trivyignore
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hmpps-prisoner-search-indexer/.trivyignore
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1388: 🔒️ Suppress parsson vulnerability as only affects untrusted json
  common/build.gradle.kts
  dependency-check-suppress-json.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1388: 🔒️ Suppress parsson vulnerability as only affects untrusted json (#205)
  common/build.gradle.kts
  dependency-check-suppress-json.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1388: ⬆️ Upgrade to latest plugin / spring boot
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-1388: ⬆️ Upgrade to latest plugin / spring boot (#206)
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search

SDIT-1361 Wire up publish queue
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/resources/application-dev.yml
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

SDIT-1361 Wire up publish queue (#207)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/resources/application-dev.yml
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

SDIT-1361 Publish now done after a 2 second delay
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

SDIT-1361 Publish now done after a 2 second delay
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: build-indexer

SDIT-1361 Publish now done after a 2 second delay
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
Due: build-indexer

SDIT-1361 Publish now done after a 2 second delay
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
Due: build-indexer

SDIT-1361 Delay sending all domain events by 2 seconds (#208)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventPublisherListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventEmitter.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

SDIT-1388: 🐛 Use latest plugin to get owasp working again
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1388: 🐛 Use latest plugin to get owasp working again (#209)
  build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1402: 🔧 Move to new preprod prison api in cloud platform
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: build-indexer

SDIT-1402: 🔧 Move to new preprod prison api in cloud platform (#210)
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
Due: build-indexer

SDIT-1407 Upgrade SQS lib
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1407 Upgrade SQS lib (#211)
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-1416: 🔨 Upgrade to postgres 16
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
Due: build-common, build-indexer, build-search

SDIT-1416: 🔨 Upgrade to postgres 16 (#212)
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
Due: build-common, build-indexer, build-search

Path conditions:
  build-common: any of: (common/.*|build.gradle.kts|.circleci/.*)
  build-indexer: any of: (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*)
  build-search: any of: (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*)
