Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: ✨ Temporarily remove scheduled security jobs
  .circleci/config.yml
Due: none

SDIT-405: ✨ Get validate hopefully working
  .circleci/continue_config.yml
Due: none

SDIT-405: ✨ Share localstack configuration
  .circleci/continue_config.yml
  docker-compose-test.yml
  docker-compose.yml
  localstack/setup-opensearch.sh
Due: none

SDIT-405: ✨ Get code building too
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/model/OffenderBookingBuilder.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/services/PrisonerSynchroniserServiceTest.kt
Due: none

SDIT-405: ✨ Add in helm lint and fix test reports
  .circleci/continue_config.yml
Due: none

SDIT-405: ✨ Different approach to path filtering
  .circleci/config.yml
  .circleci/continue_config.yml
  model/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/model/diff/PrisonerDifferenceService.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: ✨ Add back in build docker and deploy
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/Dockerfile
Due: none

SDIT-405: ✨ Add in helm lint and fix test reports (#45)
  .circleci/config.yml
  .circleci/continue_config.yml
  hmpps-prisoner-search-indexer/Dockerfile
  model/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/model/diff/PrisonerDifferenceService.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-937 Add initial prisoner search files
  .circleci/config.yml
  .circleci/continue_config.yml
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/gradle.properties
  hmpps-prisoner-search/helm_deploy/.helmignore
  hmpps-prisoner-search/helm_deploy/README.md
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/.helmignore
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/HmppsPrisonerSearch.kt
  hmpps-prisoner-search/src/main/resources/application-dev.yml
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/main/resources/banner.txt
  hmpps-prisoner-search/src/main/resources/logback-spring.xml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 remove unnecessary config
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937: ✨ Add in spring security configuration
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/HmppsPrisonerSearch.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ResourceServerConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Revert circle config to only deploy on main
  .circleci/continue_config.yml
Due: none

SDIT 937 initial search config (#46)
  .circleci/config.yml
  .circleci/continue_config.yml
  hmpps-prisoner-search/.trivyignore
  hmpps-prisoner-search/Dockerfile
  hmpps-prisoner-search/applicationinsights.dev.json
  hmpps-prisoner-search/applicationinsights.json
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/gradle.properties
  hmpps-prisoner-search/helm_deploy/.helmignore
  hmpps-prisoner-search/helm_deploy/README.md
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/.helmignore
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
  hmpps-prisoner-search/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search/helm_deploy/values-prod.yaml
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/HmppsPrisonerSearch.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/resources/application-dev.yml
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/main/resources/banner.txt
  hmpps-prisoner-search/src/main/resources/logback-spring.xml
Due: workflow-directory="hmpps-prisoner-search"

SDIT-405: ✨ Add in github security owasp workflow
  .github/workflows/security_owasp.yml
Due: none

SDIT-405: ✨ Make owasp job fail
  .github/workflows/security_owasp.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: none

SDIT-405: ✨ Add in parent workflow so can call twice
  .circleci/continue_config.yml
  .github/workflows/security_owasp.yml
  .github/workflows/security_owasp_parent.yml
Due: none

SDIT-405: ✨ Change to cron expression and fix indexer build
  .github/workflows/security_owasp_parent.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: none

SDIT-405: ✨ Add in empty workflow when no changes
  .circleci/continue_config.yml
Due: none

SDIT-405: ✨ Add in github security owasp workflow (#47)
  .circleci/continue_config.yml
  .github/workflows/security_owasp.yml
  .github/workflows/security_owasp_parent.yml
Due: none

Update security_owasp_parent.yml
  .github/workflows/security_owasp_parent.yml
Due: none

Update security_owasp_parent.yml (#48)
  .github/workflows/security_owasp_parent.yml
Due: none

SDIT-405: ✨ Add permission to write security events
  .github/workflows/security_owasp.yml
Due: none

SDIT-405: ✨ Add permission to write security events (#50)
  .github/workflows/security_owasp.yml
Due: none

SDIT-937 Restore config
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/AuthenticationHolder.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/AuthenticationHolderTest.kt
Due: none

SDIT-937 Add health test and additional config
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/AuthenticationHolder.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/AuthenticationHolderTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenAPIConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/WebClientConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthCheck.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthInfo.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/VersionOutputter.kt
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/main/resources/logback-spring.xml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/wiremock/HmppsAuthMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
  model/build.gradle.kts
  model/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/config/ApplicationInsightsConfiguration.kt
  model/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/config/AuthAwareTokenConverter.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-937 Add health test and additional config (#49)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/AuthenticationHolder.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearchindexer/config/AuthenticationHolderTest.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ClientTrackingConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenAPIConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/ResourceServerConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/WebClientConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthCheck.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/HealthInfo.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/health/VersionOutputter.kt
  hmpps-prisoner-search/src/main/resources/application.yml
  hmpps-prisoner-search/src/main/resources/logback-spring.xml
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/IntegrationTestBase.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/wiremock/HmppsAuthMockServer.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/JwtAuthHelper.kt
  hmpps-prisoner-search/src/test/resources/application-test.yml
  model/build.gradle.kts
  model/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/config/ApplicationInsightsConfiguration.kt
  model/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/config/AuthAwareTokenConverter.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-937 Updte Open Api Config
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenAPIConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Update Open Api Config
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Update open api config to remove references to indexer
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Use correct OpenApiCustomizer and remove swagger from build
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-405: ✨ Tidy up gradle configuration and rename duplicate circleci task
  .circleci/continue_config.yml
  build.gradle.kts
  gradle.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
  model/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-937 Remove unncessary sqs library
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search"

SDIT-937 Update Open Api Config (#51)
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenAPIConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/resources/documentation/service-description.html
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/integration/health/HealthCheckTest.kt
Due: workflow-directory="hmpps-prisoner-search"

SDIT-405: ✨ Tidy up gradle configuration and rename duplicate circleci task (#52)
  .circleci/continue_config.yml
  build.gradle.kts
  gradle.properties
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
  model/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-405: 🔧 Fix building of indexer docker image
  .circleci/continue_config.yml
Due: none

SDIT-405: 🔧 Fix building of indexer docker image (#53)
  .circleci/continue_config.yml
Due: none

SDIT-405: 🔧 Build everything if circleci or build gradle changes
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

SDIT-405: 🔧 Build everything if circleci or build gradle changes (#54)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

SDIT-405: 🔧 Fix building of indexer
  .circleci/continue_config.yml
Due: none

Path conditions:
  workflow-directory="hmpps-prisoner-search": any of: (model/.*|hmpps-prisoner-search/.*)
  workflow-directory="hmpps-prisoner-search-indexer": any of: (model/.*|hmpps-prisoner-search-indexer)
