Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1168: ✨ Turn events on for preprod
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1168: ✨ Turn events on for preprod (#164)
  hmpps-prisoner-search-indexer/helm_deploy/values-preprod.yaml
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1173: 🐛 Ensure that opensearch no change event always raised
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1173: 🐛 Ensure that opensearch no change event always raised (#165)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: ✨ Improve app insights events
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: ✨ Improve app insights events (#166)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/ApplicationInsightsConfiguration.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/DomainEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/IndexListenerServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/MaintainIndexServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerDifferenceServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/PrisonerSynchroniserServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/HmppsDomainEventsEmitterIntTest.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Split README into multiple pages
  hmpps-prisoner-search-indexer/Alerts.md
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/IndexRebuilding.md
  hmpps-prisoner-search-indexer/OpenSearchAccess.md
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
  hmpps-prisoner-search-indexer/README.md
  hmpps-prisoner-search-indexer/RegressionTests.md
  hmpps-prisoner-search-indexer/RestoringSnapshots.md
  hmpps-prisoner-search-indexer/Running.md
  hmpps-prisoner-search-indexer/SendingMessages.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Split README into multiple pages (#167)
  hmpps-prisoner-search-indexer/Alerts.md
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/IndexRebuilding.md
  hmpps-prisoner-search-indexer/OpenSearchAccess.md
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
  hmpps-prisoner-search-indexer/README.md
  hmpps-prisoner-search-indexer/RegressionTests.md
  hmpps-prisoner-search-indexer/RestoringSnapshots.md
  hmpps-prisoner-search-indexer/Running.md
  hmpps-prisoner-search-indexer/SendingMessages.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Finish documenting prisoner differences
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Finish documenting prisoner differences (#168)
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1179: ✨ Start listening to adjustments events too
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1179: ✨ Start listening to adjustments events too (#169)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document snapshots
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/OpenSearchAccess.md
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
  hmpps-prisoner-search-indexer/RestoringSnapshots.md
  hmpps-prisoner-search-indexer/Running.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document snapshots (#170)
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/OpenSearchAccess.md
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
  hmpps-prisoner-search-indexer/RestoringSnapshots.md
  hmpps-prisoner-search-indexer/Running.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document interesting queries
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/SendingMessages.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document interesting queries (#171)
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/SendingMessages.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document running and switch back to jre
  docker-compose.yml
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/Running.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document running and switch back to jre (#172)
  docker-compose.yml
  hmpps-prisoner-search-indexer/Dockerfile
  hmpps-prisoner-search-indexer/Running.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document alerts
  hmpps-prisoner-search-indexer/Alerts.md
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
  hmpps-prisoner-search-indexer/RegressionTests.md
  hmpps-prisoner-search-indexer/RestoringSnapshots.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

Fix typo
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Document alerts (#173)
  hmpps-prisoner-search-indexer/Alerts.md
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/PrisonerDifferences.md
  hmpps-prisoner-search-indexer/PrisonerUpdates.md
  hmpps-prisoner-search-indexer/RegressionTests.md
  hmpps-prisoner-search-indexer/RestoringSnapshots.md
  hmpps-prisoner-search-indexer/UsefulQueries.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Finish documenting
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/IndexRebuilding.md
  hmpps-prisoner-search-indexer/RegressionTests.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1130: 📝 Finish documenting (#174)
  hmpps-prisoner-search-indexer/IndexMaintenance.md
  hmpps-prisoner-search-indexer/IndexRebuilding.md
  hmpps-prisoner-search-indexer/RegressionTests.md
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1185: 🔧 Swap timings for refresh for old and new search
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1185: 🔧 Swap timings for refresh for old and new search (#175)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/config/OpenApiConfiguration.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/config/OpenApiConfiguration.kt
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1177: ✨ Delay processing assessment updated messages by 5 seconds
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1168: ✨ Turn events on for prod
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1168: ✨ Turn events on for prod (#177)
  hmpps-prisoner-search-indexer/helm_deploy/values-prod.yaml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1177: ✨ Delay processing assessment updated messages by 5 seconds (#176)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListener.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1177: ✨ Correct log message for delaying assessment updates
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1177: ✨ Correct log message for delaying assessment updates (#178)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/OffenderEventQueueService.kt
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1143: ✨ Upload html owasp report too
  .github/workflows/security_owasp.yml
Due: none

SDIT-1143: ✨ Fix upload and force failure
  .github/workflows/security_owasp.yml
  dependency-check-suppress-opensearch.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1143: ✨ Create separate artifacts for each project
  .github/workflows/security_owasp.yml
Due: none

SDIT-1143: ✨ Upload artifact on failure and alert to slack
  .github/workflows/security_owasp.yml
Due: none

SDIT-1143: ✨ Hacking around
  .github/workflows/security_owasp.yml
Due: none

SDIT-1143: ✨ Think sorted it now
  .github/workflows/security_owasp.yml
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1143: ✨ Move env up
  .github/workflows/security_owasp.yml
Due: none

SDIT-1143: ✨ Upload html owasp report too (#179)
  .github/workflows/security_owasp.yml
  dependency-check-suppress-opensearch.xml
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: workflow-directory="hmpps-prisoner-search", workflow-directory="hmpps-prisoner-search-indexer"

SDIT-1142: ✨ Generate slack alert on failure
  .github/workflows/security_owasp.yml
Due: none

Path conditions:
  workflow-directory="hmpps-prisoner-search": any of: (model/.*|hmpps-prisoner-search/.*)
  workflow-directory="hmpps-prisoner-search-indexer": any of: (model/.*|hmpps-prisoner-search-indexer.*)
