Repository ministryofjustice/hmpps-prisoner-search: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-common, build-indexer, build-search

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.2.0 # Dynamic config must be enabled. See https://circleci.com/docs/2.0/dynamic-config
  hmpps: ministryofjustice/hmpps@11
parameters:
  alerts-slack-channel:
    type: string
    default: syscon-alerts-security
workflows:
  check-for-changes:
    jobs:
      - path-filtering/filter:
          name: check-for-changes
          tag: '3.13'
          mapping: |
            (common/.*|build.gradle.kts|.circleci/.*) build-common true
            (hmpps-prisoner-search-indexer/.*|common/.*|build.gradle.kts|.circleci/.*) build-indexer true
            (hmpps-prisoner-search/.*|common/.*|build.gradle.kts|.circleci/.*) build-search true

SDIT-3668: 🐛 Fix write json task not happening all the time
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

SDIT-3668: 🐛 Fix write json task not happening all the time (#753)
  hmpps-prisoner-search-indexer/build.gradle.kts
Due: build-indexer

Revert "SDIT-3654: ✨ Add mod security (#749)"
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
Due: build-search

Revert "SDIT-3654: ✨ Add mod security (#749)" (#754)
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/values.yaml
  hmpps-prisoner-search/helm_deploy/values-dev.yaml
Due: build-search

SDIT-3687: 🔒️ Upgrade tomcat for security issues
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
Due: build-common, build-indexer, build-search

SDIT-3687: 🔒️ Upgrade tomcat for security issues (#755)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/src/main/resources/application.yml
Due: build-common, build-indexer, build-search

CVSL-3991 add includeSupportedByPrison flag to endpoint
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByReleaseDateResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_including_supported_by_prison_id_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_including_supported_by_prison_id_2.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_including_supported_by_prison_id_3.json
Due: build-search

CVSL-3991 add information for swagger doc
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
Due: build-search

Revert "SDIT-3065 Readmission switch booking - failing edge case (#750)"
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisPrisonerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/NomisApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

Revert "SDIT-3065 Readmission switch booking - failing edge case (#750)" (#756)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisPrisonerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/NomisApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

Revert "Revert "SDIT-3065 Readmission switch booking - failing edge case (#75…"
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisPrisonerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/NomisApiMockServer.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

SDIT-3065 Readmission switch booking - failing edge case
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/NomisPrisonerService.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/wiremock/NomisApiMockServer.kt
Due: build-indexer

SDIT-3065 Readmission switch booking - failing edge case
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
Due: build-indexer

Cvsl-3991 enhance endpoint to include results for supported by prison (#759)
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchResource.kt
  hmpps-prisoner-search/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/services/PrisonerSearchService.kt
  hmpps-prisoner-search/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/search/resource/PrisonerSearchByReleaseDateResourceTest.kt
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_including_supported_by_prison_id_1.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_including_supported_by_prison_id_2.json
  hmpps-prisoner-search/src/test/resources/results/releaseDateSearch/search_date_range_including_supported_by_prison_id_3.json
Due: build-search

Revert "Revert "SDIT-3065 Readmission switch booking - failing edge case"" (#757)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/main/resources/application.yml
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/IntegrationTestBase.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/listeners/OffenderEventListenerIntTest.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
  hmpps-prisoner-search-indexer/src/test/resources/application-test.yml
Due: build-indexer

SDIT-3695 READMISSION_SWITCH_BOOKING not set for readmissions after a merge
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

Update api docs for writeRestrictedPatientsJson to 2026-04-22.213.b54d5ba
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3695 READMISSION_SWITCH_BOOKING not set for readmissions after a merge
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

SDIT-3695 READMISSION_SWITCH_BOOKING not set for readmissions after a merge (#760)
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/model/nomis/OffenderBooking.kt
  hmpps-prisoner-search-indexer/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventService.kt
  hmpps-prisoner-search-indexer/src/test/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/indexer/services/events/PrisonerMovementsEventServiceTest.kt
Due: build-indexer

Update api docs for writeIncentivesJson to 2026-04-27.332.d70c1cd
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

SDIT-3744: ⬆️ Upgrade to latest spring boot 4.0.6 etc.
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

SDIT-3744: ⬆️ Upgrade to latest spring boot 4.0.6 etc. (#763)
  build.gradle.kts
  common/build.gradle.kts
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-common, build-indexer, build-search

Update api docs for writeIncentivesJson to 2026-04-28.343.fbe308b
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

Update api docs for writeRestrictedPatientsJson to 2026-04-28.215.726f908
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3749: 📈 Add in micrometer registry to track hikari connections
  common/build.gradle.kts
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/config/ApplicationInsightsConfiguration.kt
Due: build-common, build-indexer, build-search

SDIT-3749: 📈 Add in micrometer registry to track hikari connections (#765)
  common/build.gradle.kts
  common/src/main/kotlin/uk/gov/justice/digital/hmpps/prisonersearch/common/config/ApplicationInsightsConfiguration.kt
Due: build-common, build-indexer, build-search

SDIT-3749: 📌 Set azure metrics version as wasn't deploying
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-3749: 📌 Set azure metrics version as wasn't deploying (#766)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search/build.gradle.kts
Due: build-indexer, build-search

SDIT-3759: 📈 Increase threshold for alerts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

SDIT-3759: 📈 Increase threshold for alerts (#767)
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/values.yaml
Due: build-indexer

Update api docs for writeIncentivesJson to 2026-05-05.361.13cdf75
  hmpps-prisoner-search-indexer/openapi-specs/incentives-api-docs.json
Due: build-indexer

SDIT-3788: 🔒️ Replace trivy scans with snyk
  .github/workflows/security_snyk_scan.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-3788: 🔒️ Replace trivy scans with snyk (#769)
  .github/workflows/security_snyk_scan.yml
  .github/workflows/security_trivy.yml
Due: none

SDIT-3788: 🔒️ Add in subprojects for snyk
  .github/workflows/security_snyk_scan.yml
Due: none

SDIT-3788: 🔒️ Add in subprojects for snyk (#770)
  .github/workflows/security_snyk_scan.yml
Due: none

SDIT-3675: 🔧 Move to new dev restricted patients
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3675: 🔧 Move to new dev restricted patients (#771)
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/values-dev.yaml
  hmpps-prisoner-search-indexer/openapi-specs/restricted-patients-api-docs.json
Due: build-indexer

SDIT-3789: ⬆️ Upgrade gradle plugin for netty and other security issues
  build.gradle.kts
  common/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hmpps-prisoner-search-indexer/build.gradle.kts
  hmpps-prisoner-search-indexer/helm_deploy/hmpps-prisoner-search-indexer/Chart.yaml
  hmpps-prisoner-search/build.gradle.kts
  hmpps-prisoner-search/helm_deploy/hmpps-prisoner-search/Chart.yaml
Due: build-common, build-indexer, build-search
